// ############################################################################
// # Copyright 2024-2025 Ramon Fischer                                        #
// #                                                                          #
// # Licensed under the Apache License, Version 2.0 (the "License");          #
// # you may not use this file except in compliance with the License.         #
// # You may obtain a copy of the License at                                  #
// #                                                                          #
// #     http://www.apache.org/licenses/LICENSE-2.0                           #
// #                                                                          #
// # Unless required by applicable law or agreed to in writing, software      #
// # distributed under the License is distributed on an "AS IS" BASIS,        #
// # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
// # See the License for the specific language governing permissions and      #
// # limitations under the License.                                           #
// ############################################################################
//
alias "wait5" "wait; wait; wait; wait; wait" 
alias "wait6" "wait5; wait" 
alias "wait10" "wait5; wait5" 
alias "wait110" "wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10" 

alias "rr1" "rcon mp_restartgame 1" 
alias "rr3" "rcon mp_restartgame 3"

rcon say [----LIVE gaming after 3 restarts----] 
wait110 
rr1 
wait110 
rcon say [-----#1-----] 
wait110 
rr1 
wait110 
rcon say [-----#2-----] 
wait110 
rr3 
wait110 
rcon say [-----#3-----]
wait110
rcon say "[G]ood[L]uck&[H]ave[F]un by www.proaiming.at"

// Seitdem neuen Update von cvarblock gehen diese Settings nur noch auf dem eigenen Rechner :/
