// ############################################################################
// # Copyright 2024-2025 Ramon Fischer                                        #
// #                                                                          #
// # Licensed under the Apache License, Version 2.0 (the "License");          #
// # you may not use this file except in compliance with the License.         #
// # You may obtain a copy of the License at                                  #
// #                                                                          #
// #     http://www.apache.org/licenses/LICENSE-2.0                           #
// #                                                                          #
// # Unless required by applicable law or agreed to in writing, software      #
// # distributed under the License is distributed on an "AS IS" BASIS,        #
// # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
// # See the License for the specific language governing permissions and      #
// # limitations under the License.                                           #
// ############################################################################
//
alias "wait5" "wait; wait; wait; wait; wait" 
alias "wait6" "wait5; wait" 
alias "wait10" "wait5; wait5" 
alias "wait110" "wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10; wait10" 
alias "rconwait" "wait5; wait" 
alias "rr1" "mp_restartgame 1" 

wait 10 
say "[----WARMUP AFTER 3rr----]
wait110 
rr1 
wait110 
say "[-----#1-----] 
wait110 
rr1 
wait110 
say "[-----#2-----] 
wait110 
rr1 
wait110 
say "[-----#3-----]
wait110

rconwait
say "[WARMUP------]
;rconwait
say "[-WARMUP-----]
;rconwait
say "[--WARMUP----]
;rconwait
say "[---WARMUP---]
;rconwait
say "[----WARMUP--]
;rconwait
say "[-----WARMUP-]
;rconwait
say "[------WARMUP]
;rconwait
say "[-------WARMU]
;rconwait
say "[P-------WARM]
;rconwait
say "[UP-------WAR]
;rconwait
say "[MUP-------WA]
;rconwait
say "[RMUP-------W]
;rconwait
say "[ARMUP-------]
;rconwait
say "[WARMUP------]
;rconwait
say "[-WARMUP-----]
;rconwait
say "[--WARMUP----]
;rconwait
say "[---WARMUP---]
;rconwait
say "[----WARMUP--]
;rconwait
say "[pRo.a!mInG clan]
;rconwait
say "[visit us www.proaiming.at]
;rconwait
say "[or #proaiming @ quakenet]

----------------------------------------
wait10
say "[---WARMUP---]
